extends master
block mainContent
	a(href="#" class="mute")  Mute
	a(href="#" class="vup")  &nbsp;&nbsp;Volume-Up
	a(href="#" class="vdown")  &nbsp;&nbsp;Volume-Down
block scripts
	script(src='/js/control.js')

