extends master
block mainContent
	input(class="form-inline form-search" placeholder="Search or Paste a Youtube Link" type="search" id="searchbox")
	<br/>
	a(href="/queue" title="Currently Playing" class="playing") Now Playing
	a(href="#" class="stop")  Next
block hrSpan
	span.hr
		<hr>
block scripts
	script(src='/js/main.js')

