doctype html
html
	head
		title SDSLabs - Music Player
		script(src='/js/jquery.min.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/js/touche.js')
		link(rel='icon', type='image/x-icon', href='/favicon.ico')
		link(rel='icon', type='image/png', href='/favicon.png')
		link(rel='stylesheet', href='/stylesheets/hint.css')
		script(src='/js/declaration.js')
	body
		div#container-fluid
			div.hero-unit.navbar-inner
				h1
					a(href="/") SDSLabs - Play
			div.container
				div.row.search
					div.span4.offset4
						block mainContent
				block hrSpan
				a(href="control" ) Volume Control
				div.row.data
		block scripts