#tracks li{
  cursor:pointer;
  list-style: none;
}

#tracks.single li{
  list-style: decimal;
}

#recent li{
  cursor:pointer;
  list-style:none;
}

#_1 li, #_2 li, #_3 li, #_4 li{
  cursor:pointer;
  list-style:none;
}

#_1 .entry1, #_2 .entry1, #_3 .entry1, #_4 .entry1 {
  font-size: 0.8em;
  font-weight: bold;
}

#albums li{
  cursor:pointer;
  list-style: none;
}
#artists li{
  cursor:pointer;
  list-style: none;
}

#artists .entry1 {
  padding-top: 18px;
}

.hero-unit {
  text-align: center;
}

.entry1 {
  padding-top: 1px;
  font-size: 1.2em;
}

.entry2 {
  font-style: italic;
  font-size: 0.8em;
}

#tracks h2 {
  margin-left: 27px;#ad1d28
}

#artists h2 {
  padding-left: 23px;
}

#albums h2 {
  padding-left: 23px;
}

.search {
  text-align: center;
}

h1 a {
  color: white;
}

h1 a:hover {
  text-decoration: none;
}

#lyricsButton {
  width: 100px;
  background-color: #ad1d28;
  color: white !important;
  font-style: italic;
  margin-left: 30px;
}

#repeatButton {
  position: relative;
  width:16px;
  height:16px;
  right: -5px;
  cursor: pointer;
}

.stop {
  padding-left: 6px;
}
a:hover {
  text-decoration: none;
}

.playlists{
  list-style-type:none;
}

.playlist_tracks{
  list-style-type:none;
}

.playlists li{
  float: left;
  height: 10%;
  width: 16%;
  padding: 3% 0%;
  cursor: pointer;
}
.playlist-head{
  margin-left: 30px;
}
.playlist_tracks li{
  float: left;
  height: 100px !important;
  width: 20% !important;
  padding: 3% 0%;
  cursor: pointer;
}
.playlist_tracks li div{
  width: 100%;
  float: left;
}

.playlist_tracks li .track-details{
  display: block;
}
.playlist_tracks li .track-details span{
  width: 100%;
  height: 15px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: :hidden;
}
.playlists .playlist-name{
  font-size: 17px;
}